* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color: #313131;
}

ul,
li {
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #313131;
}

button {
  border: none;
}

/* Header */

.main-header__nav {
  background-color: #eeeeee;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94%;
  margin: 0 auto;
}

.nav__logo {
  padding: 10px 0;
}

.nav__menu {
  display: none;
}

.nav__hamburger {
  padding: 10px 0;
  cursor: pointer;
}

.hamburger__bar {
  display: block;
  width: 30px;
  height: 2px;
  margin-bottom: 5px;
  background-color: #313131;
  border-radius: 5px;
}

.hamburger__bar:last-child {
  margin-bottom: 0;
}

/* Hero */

.main-header__hero {
  background-color: #ccddee;
  padding: 50px;
  margin-bottom: 25px;
}

.hero__title {
  text-align: center;
}

/* Main */

.main {
  text-align: center;
}

/* Article */

.main__title {
  text-align: center;
  margin-bottom: 25px;
}

.main__article {
  display: flex;
  flex-direction: column;
  margin: 0 auto 25px;
  row-gap: 15px;
  width: 94%;
}

.article__content {
  background-color: #8899aa;
  text-align: center;
  min-height: 120px;
}

.article__title {
  padding-top: 15px;
}

/* Button */

.main__CTA {
  background-color: #ddeeff;
  display: inline-block;
  padding: 15px 10px;
  border-radius: 5px;
  cursor: pointer;
}

@media all and (min-width: 500px) {
  /* Article */

  .main__article {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 4%;
  }

  .article__content {
    margin: 0;
    width: 48%;
  }
}

@media all and (min-width: 800px) {
  /* Nav */

  .nav__container {
    width: 92%;
  }

  .nav__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
  }

  .nav__hamburger {
    display: none;
  }

  /* Article */

  .main__article {
    width: 92%;
  }
}

@media all and (min-width: 1200px) {
  /* Article */

  .main__article {
    width: 1200px;
  }

  .article__content {
    width: 44%;
  }
}
